
.container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
    padding: 10px 20px 10px 20px;
}
h2 {
    text-align: center;
    padding-bottom: 20px;
}

table thead{

    background-color: rgb(135, 235, 217);
    
}